@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-web3-grad {
    @apply bg-gradient-to-r from-[#FF2C7E] to-[#FFC700] text-transparent bg-clip-text;
  }
  .border-web3-grad {
    @apply bg-gradient-to-r from-[#FF2C7E] to-[#FFC700] ;
  }
}

body {
  margin: 0;
  font-family: "Fira Code", "Roboto Mono", monospace;
  color: #2E214D;
}
